{{!-- {{#with book}} --}}
<h1>{{book.title}}</h1>
<span>Written by: {{book.author}}</span>
<p>Summary: {{book.description}}</p>
<p>Rating: {{book.rating}}</p>
<a href="/books/edit/{{book._id}}">Edit this book</a>

<a href="/books/delete/{{book._id}}">Delete this book</a>

{{!-- {{/with}} --}}
